<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bartender Order Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Bartender/css/Base.css') }}">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid" id="NavHeader">
                <!--Logo-->
                <a class="" id="Logo">
                    <img src="{{ url_for('static', filename='Manager/Image/Coffee.png') }}" width="140" height="70">
                </a>
            </div>
        </nav>
    </header>

    <main>
        <div class="OrderList" id="OrderList">
            <div class="Order">
                <!--Title-->
                <div class="OrderTitle">
                    <div class="LeftOrderTitle">
                        <span class="OrderNumber">Order #5: </span>
                        <span class="OrderId">47ecfa5a-5a8f-4095-8463-55a917b30df8</span>
                    </div>
                    <div class="RightOrderTitle">
                        <span class="OrderStatus">Preparing</span>
                    </div>
                </div>
                <!--Buttons-->
                <div class="OrderButtons">
                    <button type="button" class="ContentButton TakeBtn">Take</button>
                    <button type="button" class="ContentButton CancelBtn">Cancel</button>
                    <button type="button" class="ContentButton ConfirmBtn">Complete</button>
                </div>

                <!--Detail-->
                <div class="OrderDetail">
                    <div class="DetailTitleContainer">
                        <label class="DetailTitle">Products</label>
                    </div>
                    <!--Product-->
                    <div class="Product">
                        <!--Basic Info-->
                        <div class="ProductInfo">
                            <label class="ProductLabel">Ice Coffee</label>
                            <label class="ProductLabel"> - </label>
                            <label class="ProductLabel">20 cup</label>
                        </div>
                        <!--Formula-->
                        <div class="FormulaList">
                            <!--1-->
                            <div class="FormulaRow">
                                <label class="IngredientLabel">Milk</label>
                                <label class="IngredientLabel"> - </label>
                                <label class="IngredientLabel">200ml</label>
                            </div>
                            <!--2-->
                            <div class="FormulaRow">
                                <label class="IngredientLabel">Milk</label>
                                <label class="IngredientLabel"> - </label>
                                <label class="IngredientLabel">200ml</label>
                            </div>
                            <!--3-->
                            <div class="FormulaRow">
                                <label class="IngredientLabel">Milk</label>
                                <label class="IngredientLabel"> - </label>
                                <label class="IngredientLabel">200ml</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="{{ url_for('static', filename='Bartender/js/Base.js') }}"></script>
</body>
</html>
