/*==========================================Content===========================================*/
.Content
{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

@media screen and (max-width: 768px)
{
    .Content
    {
        flex-direction: column;
        gap: 20px;
    }    
}

/*======================================Custom Container======================================*/
.CustomContainer
{
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-left: 2%;
}

@media screen and (max-width: 768px)
{
    .CustomContainer
    {
        margin-left: 0;
        gap: 10px;
    }
}

/*========================================Custom Date=========================================*/
.CustomDate
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/*=========================================Date Input=========================================*/
.DateInput 
{
    padding: 15px;
    font-size: 18px;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    outline:rgba(0, 0, 0, 0.568) solid 1px;
    border: none
}

@media screen and (max-width: 768px)
{
    .DateInput 
    {
        padding: 10px;
        font-size: 15px;
        width: 150px;
        height: 40px;
        border-radius: 50px;
        outline:rgba(0, 0, 0, 0.5) solid 1px;
        border: none
    }    
}

/*=========================================Date Label=========================================*/
.DateLabel
{
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

/*======================================Custom Products=======================================*/
.CustomProducts
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 400px;
    height: 460px;
    border: 2px solid #333;
    overflow: auto;
    padding: 10px;
    background: linear-gradient(#8afbf2, #3dc8cd);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    overflow-x: hidden;
    margin-bottom: 70px;
}

@media screen and (max-width: 768px)
{
    .CustomProducts
    {
        width: 300px;
    }    
}

/*======================================Scroll Container======================================*/
.ScrollContainer
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 400px;
    height: 460px;
    overflow: auto;
    padding: 10px;
    background: linear-gradient(#77eee9, #3dc8cd);
}

/*========================================Product Item========================================*/
.ProductItem
{
    background: linear-gradient(#ffffff, #bebebe);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 40px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.ProductItem:hover
{
    background: linear-gradient(#bebebe, #ffffff);
    margin-top: 5px;
    box-shadow: none;
}

.ProductItem input
{
    margin-left: 20px;
    width: 20px;
    height: 20px;
}

.ProductItem label
{
    margin-left: 10px;
    font-size: 24px;
}

@media screen and (max-width: 768px)
{
    .ProductItem
    {
        width: 250px;
    }    
}

/*======================================Chart Container=======================================*/
.ChartContainer
{
    margin-top: 30px;
    width: 100%;
    max-width: 100%;
    position: relative;
    box-sizing: border-box;
}

.ChartContainer canvas
{
    width: 100% !important;
    align-self: center;
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px)
{
    .ChartContainer
    {
        margin-right: 0;
        align-self: center;
        width: 90% !important;
        margin-bottom: 80px;
    }    
}